body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.tabs {
  background-color: #fff;
  width: 400px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.tab {
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
  color: #777;
}

.tab.active {
  color: #333;
  border-bottom: 2px solid #333;
}

.tab-content {
  padding: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.form-group button {
  width: 100%;
  padding: 10px;
  background-color: #333;
  border: none;
  color: #fff;
  font-weight: bold;
  border-radius: 3px;
  cursor: pointer;
}

.form-group button:hover {
  background-color: #555;
}